fieldset {
    background-color: rgb(221, 218, 218);
    border-radius: 10px;
}

input[type = text]{
    width: 80%;
    padding: 7px;
    border: 2px solid maroon;
}

input {
    margin-bottom: 20px;
}

input[type=submit] {
    width: 80%;
    padding: 8px;
    cursor: pointer;
    background-color: green;
}
.submit {
    width: 80%;
    padding: 7px;
    margin-bottom: 20px;
}